* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #b6dfeb;
  padding: 20px;
  font-family: calistoga;
}

.background-img {
  background-image: url("./assets/background-img.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 40px);
  border-radius: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  width: 100%;
}

h1 {
  font-size: 30px;
}

.share {
  color: white;
  font-size: 15px;
}

/* LINKS */

.home-link,
.posts-link,
.about-link {
  text-decoration: none;
  color: white;
}

.posts-link,
.about-link {
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

.posts-link:hover,
.about-link:hover {
  text-decoration: underline;
}

/* FORM */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-one {
  display: flex;
  align-items: center;
}

.form-one h3 {
  margin-right: 20px;
}

.form-two {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.form-two input,
select {
  padding: 5px;
  margin: 10px 5px;
  border: none;
}

.dream-input {
  height: 50px;
  resize: none;
  padding: 10px 10px;
  margin: 0px 5px;
  border: none;
}

.element-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 10px 5px 0px 5px;
}

.element-input label {
  color: #5fa9c4;
  font-size: 12px;
}

.element-input input:hover {
  cursor: pointer;
}

/* FORM BUTTON */

.form-two button {
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: white;
  border: none;
  width: 25vw;
  align-self: center;
}

.form-two button:hover {
  cursor: pointer;
}

.form-two button:active {
  transform: translateY(5px);
}

/*SUBMIT MESSAGE*/

.submit-message {
  color: white;
  text-align: center;
}

/* MEDIA QUERIES */

/* MOBILE */

@media (min-width: 350px) {
  .dream-input {
    height: 150px;
  }
  .form-container {
    margin-top: 3vh;
  }
}

@media (min-width: 400px) {
  .dream-input {
    height: 100px;
  }
}

/* TABLET */

@media (min-width: 700px) {
  .dream-input {
    height: 100px;
  }
  .element-input {
    padding: 10px;
  }
  .form-two {
    width: 40vw;
  }
  .form-two button {
    width: 15vw;
  }
}

/* DESKTOP */

@media (min-width: 1000px) {
  .header {
    padding: 40px 0px;
  }
  h1 {
    font-size: 40px;
  }
  .posts-link,
  .about-link {
    font-size: 15px;
    text-decoration: none;
  }
  .form-container {
    margin-top: 3vh;
  }
  .form-two {
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  .share {
    font-size: 20px;
    margin-right: 10px;
  }
  .form-container {
    margin-top: 3vh;
  }
  .dream-input {
    height: 200px;
  }
  .element-input {
    padding: 10px 40px;
  }
  .form-two {
    width: 35vw;
  }
  .form-two button {
    width: 10vw;
  }
}

@media (min-width: 1900px) {
  .header {
    padding: 40px 0px;
  }
  h1 {
    font-size: 88px;
  }
  .posts-link,
  .about-link {
    font-size: 24px;
  }
  .share {
    font-size: 20px;
  }
  .form-two {
    width: 30vw;
  }
  .form-two input,
  select {
    padding: 10px;
    margin: 10px 0px;
    border: none;
  }
  .dream-input,
  .element-input {
    margin: 10px 0px;
  }
  .element-input {
    padding: 0px 15px;
  }
  .element-input label {
    padding: 0px 8px;
  }
  .form-two button {
    width: 5vw;
  }
}
