.background-img {
  background-image: none;
  height: auto;
}

.subheading {
  display: flex;
  justify-content: space-around;
}

.subheading a {
  width: 150px;
  text-align: center;
}

.posts-intro {
  padding: 0px 20vw;
  margin: 30px 0px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.posts-container {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post {
  color: #5fa9c4;
  text-align: center;
  width: 300px;
  padding: 20px;
  margin: 20px 10px;
  background-color: white;
}

.post p {
  padding: 10px 0px;
}

.post h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
